{% extends 'AcmeWebBundle:Frontend:layout_front_index.html.twig' %}

{% block slideshow %}
  {% include 'AcmeWebBundle:Frontend/Common:slideshow.html.twig' %}
{% endblock %}

{% block pagecontent %}
  <div class="newsbar">
    <div class="newsbarinner">
      ssss
    </div>
  </div>
  <div class="pagewrapper">
    <div style="padding:20px 0" class="hotproduct">
      <ul class="hotproductinner">
        
      </ul>
    </div>
  </div>

{% endblock %}