<!DOCTYPE html>
{# {% set settings = sylius_settings_all('sylius_general') %} #}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="UTF-8">

        {%  block stylesheets %}
            
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
  
         {% block javascripts %}
       
        {% endblock %}
    <div class="container">
        {% block header %}
         
        {% endblock %}

        {% block flashes %}
           
        {% endblock %}

        {% block main %}
        <hr>
        {% block slideshow_full %}{% endblock %}
        <div class="row">
            <div class="col-md-3" id="sidebar">
              
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <hr>
        <div class="row">
        
        </div>
        <hr>
        {% endblock %}

        {% block gallery %}
           
        {% endblock %}


        {% block footer %}
            <div class="footer">
              
            </div>
        {% endblock %}
        </div>
    </body>
</html>
